
h1 {
  margin: 0;
  padding: 20px 0;
  color: black;
  text-align: center;
}


table.tg {
  width: 80%; 
  margin: 20px auto; 
  border-collapse: collapse; 
  border-spacing: 0;
  font-family: Arial, sans-serif;
  font-size: 14px; 
}

table.tg th,
table.tg td {
  border: 1px solid #ccc; 
  padding: 8px 10px; 
  text-align: left; 
}

table.tg th {
  background-color: #f5f5f5; 
  font-weight: bold;
}

table.tg td {
  background-color: #fff; 
}

.tg-0lax {
  text-align: left;
  vertical-align: top;
}

.center {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.chart-container {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
  flex-wrap: nowrap; 
}

.chart-title {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-top: -10px;
  margin-bottom: 10px;
}

.tooltip {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #fff;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.tooltip {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #fff;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

#charts {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 20px; 
  justify-items: center; 
}

.chart {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 100%; 
  max-width: 350px; 
}
